#simon_save_and_stay{
    background-image: url(http://images.simonoop.com/simon/logosimonoo38x18.png);
    background-repeat: no-repeat;
    background-position:3px 3px;
    padding-left: 45px;
}